@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-py: #C61F1F;
}

.container,
.container-hero {
  max-width: 1212px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-hero {
  max-width: 1392px;
}

.images::-webkit-scrollbar,
.actors::-webkit-scrollbar {
  display: none;
}
